/* Roundedpic.css */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .transform:hover {
    transform: scale(1.05);
  }
  
  .transition-fade-enter,
  .transition-fade-leave-to {
    opacity: 0;
  }
  
  .transition-fade-enter-active,
  .transition-fade-leave-to {
    transition: opacity 0.5s;
  }
  