.header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #000; /* Black text color */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.search-input {
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-right: 0.5em;
  color: #000; /* Black text color */
  background-color: #fff; /* White background color */
}

.search-button {
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-right: 0.5em;
}

.reset-button {
  background-color: #ccc;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.insert-button {
  background-color: #28a745;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.diet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

.diet-card {
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.diet-header {
  padding: 1em;
  color: white;
  cursor: pointer;
}

.diet-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:red
}

.diet-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.expand-icon {
  font-size: 0.8em;
}

.diet-details {
  font-size: 0.8em;
  color: #000; /* Black text color */
  background-color: #fff; /* White background color */
}

.diet-image {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  margin-top: 1em;
}

.diet-actions {
  padding: 1em;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  background-color: #007bff;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}
